.gombok{
    background-color: transparent;
    align-self: center;

    display: flex;
    justify-self: center;
    align-items: center;
    gap: 2em;
}
.torles{
    background-color: rgb(126, 53, 53) !important;
}
.torles:hover{
    background-color: rgb(190, 138, 138) !important;
}