*{
    --dark: #222;
    --light: #fff;
    --dpurple: rgb(159, 71, 170);
    --lpurple:  rgb(214, 99, 230);
    --vlpurple: rgb(247, 213, 233);


    margin: 0;
    padding: 0;

    background-color: var(--dark);
    color: var(--light);

    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    gap: 5em;
}


header{
    width: 100%;

    background-color: var(--dpurple);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;

    text-align: center;
}
header h1{
    height: fit-content;
    width: fit-content;
}

header nav{
    width: 100%;
    
    background-color: var(--lpurple);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}
header nav h3{
    color: var(--dark);
    font-weight: 600;
}
header nav a h3{
    color: var(--light);
    opacity: 75%;
}
header nav a h3:hover{
    opacity: 100%;
}


footer{
    height: 30px;
    width: 100%;

    background-color: #111;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
footer h4{
    width: fit-content;
    font-weight: 600;
    opacity: 20%;
}


main{
    margin: 0 5%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}






.box{
    margin: 1em;
    padding: 3em 3em;
    width: fit-content;
    
    border-radius: 1em;

    background-color: var(--dpurple);
    
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 0.5em;
}
.box h2, .box h3{
    margin-bottom: 0.5em;
    text-align: center;
    align-self: center;
}
.box h3{
    font-size: 18pt;
}
.box ul{
    align-self: center;
}
.box li{
    line-height: 200%;
    text-align: center;
}
.box .leiras{
    align-self: center;
}
.box textarea{
    align-self: center;
    padding: 0.2em;

    font-size: 12pt;
    resize: none;
    background-color: var(--light);
    color: #000;
}
.box button{
    margin-top: 1em;
    padding: 0.5em;

    align-self: center;

    background-color: var(--dark);
    font-size: 15pt;
    font-weight: 600;
}
.box button:hover{
    background-color: var(--vlpurple);
    color: var(--dark);
}



h1, h2, h3, h4, p, ul, li, a, label, span{
    background-color: transparent;
    color: inherit;
    transition: 0.2s;
}
h1{
    font-size: 30pt;
}
h2{
    font-size: 24pt;
}
h3{
    font-size: 14pt;
}

a{
    text-decoration: none;
}
a, button{
    transition: 0.2s;
    cursor: pointer;
}
ul, li{
    list-style-type: none;
}
.box, input, button{
    border-radius: 0.75em;
    border: none;
}
label{
    font-size: 16pt;
}
input{
    font-size: 14pt;
    padding: 0 0.3em;
}